// COLORS
$primary-color: #b0026d;
$secondary-color: #bc00cd;

$white-color: #fff;

$dark-grey: #110404;
$light-grey: #5f5c5c;

$dark-blue-text: #b0026d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
