// COLORS
$primary-color: #b0026d;
$secondary-color: #bc00cd;

$white-color: rgb(255, 255, 255);
$lilac-color: rgb(248, 172, 248);

$dark-grey: #110404;
$light-grey: #5f5c5c;

$dark-blue-text: #500433; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
